html,body{
    margin : 0 ;
    overflow-x: hidden;

}

.fond{background-image: url("fond.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 100vw;

}

.cercle{
    border: 2px white solid;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    padding: 15px;
    position: relative;

}

.aiguille{

    width: 50%;
    position: relative;
    top : 50% ;
    left: 50%;
    transform-origin: 0%;

}

.hour {
    width: 35%;
    border: 4px black solid;
    transform: rotate(-90deg);
}
.min {
    border: 3px black solid;
    transform: rotate(-90deg);

}
.sec {

    transform: rotate(-90deg);
    border: 2px black solid;
}
.écriture{
    color: white;
    font-size: 2.5em;
}
.un {
    position: absolute;
    top: 10%;
    left: 72%;
}

.deux {
    position: absolute;
    top: 26%;
    left: 86%;
}

.trois {
    position: absolute;
    top: 48%;
    left: 93%;
}

.quatre {
    position: absolute;
    top: 69%;
    left: 87%;
}

.cinq {
    position: absolute;
    top: 86%;
    left: 71%;
}

.six {
    position: absolute;
    top: 91%;
    left: 49%;
}

.sept {
    position: absolute;
    top: 86%;
    left: 27%;
}

.huit {
    position: absolute;
    top: 72%;
    left: 10%;
}

.neuf {
    position: absolute;
    top: 48%;
    left: 4%;
}

.dix {
    position: absolute;
    top: 26%;
    left: 9%;
}

.onze {
    position: absolute;
    top: 9%;
    left: 26%;
}

.douze {
    position: absolute;
    top: 4%;
    left: 48%;
}
.container{
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: absolute;
    top: 20%;
    left: 20%;
    overflow: hidden;
    z-index: 1;
}
.sun{
    position: absolute;
    top: 15em;
    left: 15em;
    width: 10em;
    height: 10em;
    background-color: rgb(255, 204, 0);
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}
.earth, .moon{
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
}
.earth{
    top: -3.5em;
    left: -3.5em;
    width: 46em;
    height: 48em;
    animation: rahul 36.5s linear infinite;
}
.moon{
    top: 11%;
    right: 0;
    width: 8em;
    height: 8em;
    animation: rahul 10s linear infinite;
}
.earth::before,
.moon::before{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.earth::before{
    top: 6.8em;
    right: 1.8em;
    width: 5em;
    height: 5em;
    background-color: rgb(80, 80, 201);
}
.moon::before{
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: silver;
}
@keyframes rahul{
    to{
        transform: rotate(360deg);
    }
}